<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.dict.dao.CnapsBankMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.dict.model.CnapsBank" >
    <id column="bankcode" property="bankcode" jdbcType="VARCHAR" />
    <result column="county_code" property="countyCode" jdbcType="INTEGER" />
    <result column="bank_network_name" property="bankNetworkName" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="operation_user_id" property="operationUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    bankcode, county_code, bank_network_name, bank_name, remarks, del_status, record_time, 
    entry_user_id, operation_time, operation_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.cnaps_bank
    where bankcode = #{bankcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.cnaps_bank
    where bankcode = #{bankcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.dict.model.CnapsBank" >
    insert into public.cnaps_bank (bankcode, county_code, bank_network_name, 
      bank_name, remarks, del_status, 
      record_time, entry_user_id, operation_time, 
      operation_user_id)
    values (#{bankcode,jdbcType=VARCHAR}, #{countyCode,jdbcType=INTEGER}, #{bankNetworkName,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{delStatus,jdbcType=INTEGER}, 
      #{recordTime,jdbcType=TIMESTAMP}, #{entryUserId,jdbcType=BIGINT}, #{operationTime,jdbcType=TIMESTAMP}, 
      #{operationUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.dict.model.CnapsBank" >
    insert into public.cnaps_bank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bankcode != null" >
        bankcode,
      </if>
      <if test="countyCode != null" >
        county_code,
      </if>
      <if test="bankNetworkName != null" >
        bank_network_name,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="operationUserId != null" >
        operation_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bankcode != null" >
        #{bankcode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        #{countyCode,jdbcType=INTEGER},
      </if>
      <if test="bankNetworkName != null" >
        #{bankNetworkName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null" >
        #{operationUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bec.cloud.baodanxitong.web.dict.model.CnapsBank" >
    update public.cnaps_bank
    <set >
      <if test="countyCode != null" >
        county_code = #{countyCode,jdbcType=INTEGER},
      </if>
      <if test="bankNetworkName != null" >
        bank_network_name = #{bankNetworkName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        entry_user_id = #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null" >
        operation_user_id = #{operationUserId,jdbcType=BIGINT},
      </if>
    </set>
    where bankcode = #{bankcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bec.cloud.baodanxitong.web.dict.model.CnapsBank" >
    update public.cnaps_bank
    set county_code = #{countyCode,jdbcType=INTEGER},
      bank_network_name = #{bankNetworkName,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=INTEGER},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      entry_user_id = #{entryUserId,jdbcType=BIGINT},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operation_user_id = #{operationUserId,jdbcType=BIGINT}
    where bankcode = #{bankcode,jdbcType=VARCHAR}
  </update>
</mapper>