<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.dict.dao.PayProdMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.dict.model.PayProd" >
    <id column="prod_id" property="prodId" jdbcType="INTEGER" />
    <result column="prod_code" property="prodCode" jdbcType="VARCHAR" />
    <result column="prod_name" property="prodName" jdbcType="VARCHAR" />
    <result column="prod_desc" property="prodDesc" jdbcType="VARCHAR" />
    <result column="prod_status" property="prodStatus" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="operation_user_id" property="operationUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    prod_id, prod_code, prod_name, prod_desc, prod_status, remarks, del_status, record_time, 
    entry_user_id, operation_time, operation_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from public.pay_prod
    where prod_id = #{prodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from public.pay_prod
    where prod_id = #{prodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.dict.model.PayProd" >
    insert into public.pay_prod (prod_id, prod_code, prod_name, 
      prod_desc, prod_status, remarks, 
      del_status, record_time, entry_user_id, 
      operation_time, operation_user_id)
    values (#{prodId,jdbcType=INTEGER}, #{prodCode,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, 
      #{prodDesc,jdbcType=VARCHAR}, #{prodStatus,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{delStatus,jdbcType=INTEGER}, #{recordTime,jdbcType=TIMESTAMP}, #{entryUserId,jdbcType=BIGINT}, 
      #{operationTime,jdbcType=TIMESTAMP}, #{operationUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.dict.model.PayProd" >
    insert into public.pay_prod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="prodCode != null" >
        prod_code,
      </if>
      <if test="prodName != null" >
        prod_name,
      </if>
      <if test="prodDesc != null" >
        prod_desc,
      </if>
      <if test="prodStatus != null" >
        prod_status,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="operationUserId != null" >
        operation_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prodId != null" >
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="prodCode != null" >
        #{prodCode,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null" >
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodDesc != null" >
        #{prodDesc,jdbcType=VARCHAR},
      </if>
      <if test="prodStatus != null" >
        #{prodStatus,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null" >
        #{operationUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bec.cloud.baodanxitong.web.dict.model.PayProd" >
    update public.pay_prod
    <set >
      <if test="prodCode != null" >
        prod_code = #{prodCode,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null" >
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodDesc != null" >
        prod_desc = #{prodDesc,jdbcType=VARCHAR},
      </if>
      <if test="prodStatus != null" >
        prod_status = #{prodStatus,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        entry_user_id = #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null" >
        operation_user_id = #{operationUserId,jdbcType=BIGINT},
      </if>
    </set>
    where prod_id = #{prodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bec.cloud.baodanxitong.web.dict.model.PayProd" >
    update public.pay_prod
    set prod_code = #{prodCode,jdbcType=VARCHAR},
      prod_name = #{prodName,jdbcType=VARCHAR},
      prod_desc = #{prodDesc,jdbcType=VARCHAR},
      prod_status = #{prodStatus,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=INTEGER},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      entry_user_id = #{entryUserId,jdbcType=BIGINT},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operation_user_id = #{operationUserId,jdbcType=BIGINT}
    where prod_id = #{prodId,jdbcType=INTEGER}
  </update>
  <select id="selectPayProd" resultMap="BaseResultMap"
		parameterType="com.bec.cloud.baodanxitong.web.dict.model.PayProd">
		select
		<include refid="Base_Column_List" />
		from public.pay_prod
		<where>
			<if test="startTime != null">
				and record_time <![CDATA[>=]]>
				to_timestamp(#{startTime}/1000)
			</if>
			<if test="endTime != null">
				and record_time <![CDATA[<=]]>
				to_timestamp(#{endTime}/1000)
			</if>
			<if test="searchName != null">
				and prod_code||prod_name||prod_desc||remarks like
				'%'||#{searchName,jdbcType=VARCHAR}||'%'
			</if>
			<if test="prodStatus != null">
				and prod_status = #{prodStatus,jdbcType=INTEGER}
			</if>
			<if test="delStatus != null">
				and del_status = #{delStatus,jdbcType=INTEGER}
			</if>
			<if test="entryUserId != null">
				and entry_user_id = #{entryUserId,jdbcType=BIGINT}
			</if>
			<if test="operationUserId != null">
				and operation_user_id = #{operationUserId,jdbcType=BIGINT}
			</if>
			<if test="prodId != null">
				and prod_id = #{prodId,jdbcType=INTEGER}
			</if>
			<if test="operationTime != null">
				and operation_time = #{operationTime,jdbcType=TIMESTAMP}
			</if>
		</where>
		order by prod_id desc
	</select>
</mapper>