<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.auth.dao.AuthMenuBtnMapper">
	<resultMap id="BaseResultMap"
		type="com.bec.cloud.baodanxitong.web.auth.model.AuthMenuBtn">
		<id column="btn_id" property="btnId" jdbcType="INTEGER" />
		<result column="menu_id" property="menuId" jdbcType="INTEGER" />
		<result column="btn_type" property="btnType" jdbcType="INTEGER" />
		<result column="btn_name" property="btnName" jdbcType="VARCHAR" />
		<result column="btn_url" property="btnUrl" jdbcType="VARCHAR" />
		<result column="btn_status" property="btnStatus" jdbcType="INTEGER" />
		<result column="del_status" property="delStatus" jdbcType="INTEGER" />
		<result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
		<result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
		<result column="operation_user_id" property="operationUserId"
			jdbcType="BIGINT" />
		<result column="operation_time" property="operationTime"
			jdbcType="TIMESTAMP" />
		<result column="req_method" property="reqMethod" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		btn_id, menu_id, btn_type, btn_name, btn_url, btn_status,
		del_status,
		record_time,
		entry_user_id, operation_user_id,
		operation_time, req_method
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from public.auth_menu_btn
		where btn_id = #{btnId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		public.auth_menu_btn
		where btn_id = #{btnId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.bec.cloud.baodanxitong.web.auth.model.AuthMenuBtn">
		<selectKey resultType="java.lang.Integer" keyProperty="btnId"
			order="BEFORE">
			select nextval('auth_menu_btn_id_seq')
		</selectKey>
		insert into public.auth_menu_btn (btn_id, menu_id, btn_type,
		btn_name,
		btn_url, btn_status,
		del_status, record_time, entry_user_id,
		operation_user_id, operation_time, req_method
		)
		values
		(#{btnId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER},
		#{btnType,jdbcType=INTEGER},
		#{btnName,jdbcType=VARCHAR},
		#{btnUrl,jdbcType=VARCHAR}, #{btnStatus,jdbcType=INTEGER},
		#{delStatus,jdbcType=INTEGER}, #{recordTime,jdbcType=TIMESTAMP},
		#{entryUserId,jdbcType=BIGINT},
		#{operationUserId,jdbcType=BIGINT},
		#{operationTime,jdbcType=TIMESTAMP}, #{reqMethod,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.bec.cloud.baodanxitong.web.auth.model.AuthMenuBtn">
		<selectKey resultType="java.lang.Integer" keyProperty="btnId"
			order="BEFORE">
			select nextval('auth_menu_btn_id_seq')
		</selectKey>
		insert into public.auth_menu_btn
		<trim prefix="(" suffix=")" suffixOverrides=",">
			btn_id,
			<if test="menuId != null">
				menu_id,
			</if>
			<if test="btnType != null">
				btn_type,
			</if>
			<if test="btnName != null">
				btn_name,
			</if>
			<if test="btnUrl != null">
				btn_url,
			</if>
			<if test="btnStatus != null">
				btn_status,
			</if>
			<if test="delStatus != null">
				del_status,
			</if>
			<if test="recordTime != null">
				record_time,
			</if>
			<if test="entryUserId != null">
				entry_user_id,
			</if>
			<if test="operationUserId != null">
				operation_user_id,
			</if>
			<if test="operationTime != null">
				operation_time,
			</if>
			<if test="reqMethod != null">
				req_method,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{btnId,jdbcType=INTEGER},
			<if test="menuId != null">
				#{menuId,jdbcType=INTEGER},
			</if>
			<if test="btnType != null">
				#{btnType,jdbcType=INTEGER},
			</if>
			<if test="btnName != null">
				#{btnName,jdbcType=VARCHAR},
			</if>
			<if test="btnUrl != null">
				#{btnUrl,jdbcType=VARCHAR},
			</if>
			<if test="btnStatus != null">
				#{btnStatus,jdbcType=INTEGER},
			</if>
			<if test="delStatus != null">
				#{delStatus,jdbcType=INTEGER},
			</if>
			<if test="recordTime != null">
				#{recordTime,jdbcType=TIMESTAMP},
			</if>
			<if test="entryUserId != null">
				#{entryUserId,jdbcType=BIGINT},
			</if>
			<if test="operationUserId != null">
				#{operationUserId,jdbcType=BIGINT},
			</if>
			<if test="operationTime != null">
				#{operationTime,jdbcType=TIMESTAMP},
			</if>
			<if test="reqMethod != null">
				#{reqMethod,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.bec.cloud.baodanxitong.web.auth.model.AuthMenuBtn">
		update public.auth_menu_btn
		<set>
			<if test="menuId != null">
				menu_id = #{menuId,jdbcType=INTEGER},
			</if>
			<if test="btnType != null">
				btn_type = #{btnType,jdbcType=INTEGER},
			</if>
			<if test="btnName != null">
				btn_name = #{btnName,jdbcType=VARCHAR},
			</if>
			<if test="btnUrl != null">
				btn_url = #{btnUrl,jdbcType=VARCHAR},
			</if>
			<if test="btnStatus != null">
				btn_status = #{btnStatus,jdbcType=INTEGER},
			</if>
			<if test="delStatus != null">
				del_status = #{delStatus,jdbcType=INTEGER},
			</if>
			<if test="recordTime != null">
				record_time = #{recordTime,jdbcType=TIMESTAMP},
			</if>
			<if test="entryUserId != null">
				entry_user_id = #{entryUserId,jdbcType=BIGINT},
			</if>
			<if test="operationUserId != null">
				operation_user_id = #{operationUserId,jdbcType=BIGINT},
			</if>
			<if test="operationTime != null">
				operation_time = #{operationTime,jdbcType=TIMESTAMP},
			</if>
			<if test="reqMethod != null">
				req_method = #{reqMethod,jdbcType=VARCHAR},
			</if>
		</set>
		where btn_id = #{btnId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.bec.cloud.baodanxitong.web.auth.model.AuthMenuBtn">
		update public.auth_menu_btn
		set menu_id =
		#{menuId,jdbcType=INTEGER},
		btn_type = #{btnType,jdbcType=INTEGER},
		btn_name = #{btnName,jdbcType=VARCHAR},
		btn_url =
		#{btnUrl,jdbcType=VARCHAR},
		btn_status = #{btnStatus,jdbcType=INTEGER},
		del_status = #{delStatus,jdbcType=INTEGER},
		record_time =
		#{recordTime,jdbcType=TIMESTAMP},
		entry_user_id =
		#{entryUserId,jdbcType=BIGINT},
		operation_user_id =
		#{operationUserId,jdbcType=BIGINT},
		operation_time =
		#{operationTime,jdbcType=TIMESTAMP},
		req_method =
		#{reqMethod,jdbcType=VARCHAR}
		where btn_id = #{btnId,jdbcType=INTEGER}
	</update>

	<select id="selectAuthMenuBtnByAuthMenus" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from public.auth_menu_btn
		where menu_id in
		<foreach collection="list" index="index" item="item" open="("
			close=")" separator=",">
			#{item.menuId}
		</foreach>
		and btn_status=0 and del_status=0
	</select>
</mapper>