<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.customer.dao.CustBusiLicenseModifyMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.customer.model.CustBusiLicenseModify" >
    <result column="cblm_id" property="cblmId" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="cbl_type" property="cblType" jdbcType="INTEGER" />
    <result column="cbl_code" property="cblCode" jdbcType="VARCHAR" />
    <result column="cbl_date" property="cblDate" jdbcType="VARCHAR" />
    <result column="cbl_scope" property="cblScope" jdbcType="VARCHAR" />
    <result column="cbl_face_path" property="cblFacePath" jdbcType="VARCHAR" />
    <result column="cbl_back_path" property="cblBackPath" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="operation_user_id" property="operationUserId" jdbcType="BIGINT" />
    <result column="operation_ time" property="operationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustBusiLicenseModify" >
    <selectKey resultType="java.lang.Long" keyProperty="cblmId" order="BEFORE" >
      select nextval('cust_busi_license_modify_cblm_id_seq')
    </selectKey>
    insert into public.cust_busi_license_modify (cblm_id, cust_id, cbl_type, 
      cbl_code, cbl_date, cbl_scope, 
      cbl_face_path, cbl_back_path, audit_status, 
      remarks, record_time, entry_user_id, 
      operation_user_id, "operation_ time")
    values (#{cblmId,jdbcType=BIGINT}, #{custId,jdbcType=BIGINT}, #{cblType,jdbcType=INTEGER}, 
      #{cblCode,jdbcType=VARCHAR}, #{cblDate,jdbcType=VARCHAR}, #{cblScope,jdbcType=VARCHAR}, 
      #{cblFacePath,jdbcType=VARCHAR}, #{cblBackPath,jdbcType=VARCHAR}, #{auditStatus,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{recordTime,jdbcType=TIMESTAMP}, #{entryUserId,jdbcType=BIGINT}, 
      #{operationUserId,jdbcType=BIGINT}, #{operationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustBusiLicenseModify" >
    <selectKey resultType="java.lang.Long" keyProperty="cblmId" order="BEFORE" >
      select nextval('cust_busi_license_modify_cblm_id_seq')
    </selectKey>
    insert into public.cust_busi_license_modify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      cblm_id,
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="cblType != null" >
        cbl_type,
      </if>
      <if test="cblCode != null" >
        cbl_code,
      </if>
      <if test="cblDate != null" >
        cbl_date,
      </if>
      <if test="cblScope != null" >
        cbl_scope,
      </if>
      <if test="cblFacePath != null" >
        cbl_face_path,
      </if>
      <if test="cblBackPath != null" >
        cbl_back_path,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="operationUserId != null" >
        operation_user_id,
      </if>
      <if test="operationTime != null" >
        "operation_ time",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{cblmId,jdbcType=BIGINT},
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="cblType != null" >
        #{cblType,jdbcType=INTEGER},
      </if>
      <if test="cblCode != null" >
        #{cblCode,jdbcType=VARCHAR},
      </if>
      <if test="cblDate != null" >
        #{cblDate,jdbcType=VARCHAR},
      </if>
      <if test="cblScope != null" >
        #{cblScope,jdbcType=VARCHAR},
      </if>
      <if test="cblFacePath != null" >
        #{cblFacePath,jdbcType=VARCHAR},
      </if>
      <if test="cblBackPath != null" >
        #{cblBackPath,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationUserId != null" >
        #{operationUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>