<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.customer.dao.CustDotTermMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.customer.model.CustDotTerm" >
    <id column="dt_id" property="dtId" jdbcType="BIGINT" />
    <result column="dot_code" property="dotCode" jdbcType="VARCHAR" />
    <result column="get_type" property="getType" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_status" property="deviceStatus" jdbcType="INTEGER" />
    <result column="device_abno_status" property="deviceAbnoStatus" jdbcType="INTEGER" />
    <result column="device_remark" property="deviceRemark" jdbcType="VARCHAR" />
    <result column="term_id" property="termId" jdbcType="VARCHAR" />
    <result column="term_status" property="termStatus" jdbcType="INTEGER" />
    <result column="term_abno_status" property="termAbnoStatus" jdbcType="INTEGER" />
    <result column="term_remark" property="termRemark" jdbcType="VARCHAR" />
    <result column="install_addr" property="installAddr" jdbcType="VARCHAR" />
    <result column="binding_status" property="bindingStatus" jdbcType="INTEGER" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="operation_user_id" property="operationUserId" jdbcType="BIGINT" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    dt_id, dot_code, get_type, device_id, device_status, device_abno_status, device_remark, 
    term_id, term_status, term_abno_status, term_remark, install_addr, binding_status, 
    del_status, record_time, entry_user_id, operation_user_id, operation_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from public.cust_dot_term
    where dt_id = #{dtId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from public.cust_dot_term
    where dt_id = #{dtId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustDotTerm" >
    <selectKey resultType="java.lang.Long" keyProperty="dtId" order="BEFORE" >
      select nextval('cust_dot_term_dt_id_seq')
    </selectKey>
    insert into public.cust_dot_term (dt_id, dot_code, get_type, 
      device_id, device_status, device_abno_status, 
      device_remark, term_id, term_status, 
      term_abno_status, term_remark, install_addr, 
      binding_status, del_status, record_time, 
      entry_user_id, operation_user_id, operation_time
      )
    values (#{dtId,jdbcType=BIGINT}, #{dotCode,jdbcType=VARCHAR}, #{getType,jdbcType=INTEGER}, 
      #{deviceId,jdbcType=VARCHAR}, #{deviceStatus,jdbcType=INTEGER}, #{deviceAbnoStatus,jdbcType=INTEGER}, 
      #{deviceRemark,jdbcType=VARCHAR}, #{termId,jdbcType=VARCHAR}, #{termStatus,jdbcType=INTEGER}, 
      #{termAbnoStatus,jdbcType=INTEGER}, #{termRemark,jdbcType=VARCHAR}, #{installAddr,jdbcType=VARCHAR}, 
      #{bindingStatus,jdbcType=INTEGER}, #{delStatus,jdbcType=INTEGER}, #{recordTime,jdbcType=TIMESTAMP}, 
      #{entryUserId,jdbcType=BIGINT}, #{operationUserId,jdbcType=BIGINT}, #{operationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustDotTerm" >
    <selectKey resultType="java.lang.Long" keyProperty="dtId" order="BEFORE" >
      select nextval('cust_dot_term_dt_id_seq')
    </selectKey>
    insert into public.cust_dot_term
    <trim prefix="(" suffix=")" suffixOverrides="," >
      dt_id,
      <if test="dotCode != null" >
        dot_code,
      </if>
      <if test="getType != null" >
        get_type,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceStatus != null" >
        device_status,
      </if>
      <if test="deviceAbnoStatus != null" >
        device_abno_status,
      </if>
      <if test="deviceRemark != null" >
        device_remark,
      </if>
      <if test="termId != null" >
        term_id,
      </if>
      <if test="termStatus != null" >
        term_status,
      </if>
      <if test="termAbnoStatus != null" >
        term_abno_status,
      </if>
      <if test="termRemark != null" >
        term_remark,
      </if>
      <if test="installAddr != null" >
        install_addr,
      </if>
      <if test="bindingStatus != null" >
        binding_status,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="operationUserId != null" >
        operation_user_id,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{dtId,jdbcType=BIGINT},
      <if test="dotCode != null" >
        #{dotCode,jdbcType=VARCHAR},
      </if>
      <if test="getType != null" >
        #{getType,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceStatus != null" >
        #{deviceStatus,jdbcType=INTEGER},
      </if>
      <if test="deviceAbnoStatus != null" >
        #{deviceAbnoStatus,jdbcType=INTEGER},
      </if>
      <if test="deviceRemark != null" >
        #{deviceRemark,jdbcType=VARCHAR},
      </if>
      <if test="termId != null" >
        #{termId,jdbcType=VARCHAR},
      </if>
      <if test="termStatus != null" >
        #{termStatus,jdbcType=INTEGER},
      </if>
      <if test="termAbnoStatus != null" >
        #{termAbnoStatus,jdbcType=INTEGER},
      </if>
      <if test="termRemark != null" >
        #{termRemark,jdbcType=VARCHAR},
      </if>
      <if test="installAddr != null" >
        #{installAddr,jdbcType=VARCHAR},
      </if>
      <if test="bindingStatus != null" >
        #{bindingStatus,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationUserId != null" >
        #{operationUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustDotTerm" >
    update public.cust_dot_term
    <set >
      <if test="dotCode != null" >
        dot_code = #{dotCode,jdbcType=VARCHAR},
      </if>
      <if test="getType != null" >
        get_type = #{getType,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceStatus != null" >
        device_status = #{deviceStatus,jdbcType=INTEGER},
      </if>
      <if test="deviceAbnoStatus != null" >
        device_abno_status = #{deviceAbnoStatus,jdbcType=INTEGER},
      </if>
      <if test="deviceRemark != null" >
        device_remark = #{deviceRemark,jdbcType=VARCHAR},
      </if>
      <if test="termId != null" >
        term_id = #{termId,jdbcType=VARCHAR},
      </if>
      <if test="termStatus != null" >
        term_status = #{termStatus,jdbcType=INTEGER},
      </if>
      <if test="termAbnoStatus != null" >
        term_abno_status = #{termAbnoStatus,jdbcType=INTEGER},
      </if>
      <if test="termRemark != null" >
        term_remark = #{termRemark,jdbcType=VARCHAR},
      </if>
      <if test="installAddr != null" >
        install_addr = #{installAddr,jdbcType=VARCHAR},
      </if>
      <if test="bindingStatus != null" >
        binding_status = #{bindingStatus,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        entry_user_id = #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationUserId != null" >
        operation_user_id = #{operationUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dt_id = #{dtId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustDotTerm" >
    update public.cust_dot_term
    set dot_code = #{dotCode,jdbcType=VARCHAR},
      get_type = #{getType,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=VARCHAR},
      device_status = #{deviceStatus,jdbcType=INTEGER},
      device_abno_status = #{deviceAbnoStatus,jdbcType=INTEGER},
      device_remark = #{deviceRemark,jdbcType=VARCHAR},
      term_id = #{termId,jdbcType=VARCHAR},
      term_status = #{termStatus,jdbcType=INTEGER},
      term_abno_status = #{termAbnoStatus,jdbcType=INTEGER},
      term_remark = #{termRemark,jdbcType=VARCHAR},
      install_addr = #{installAddr,jdbcType=VARCHAR},
      binding_status = #{bindingStatus,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=INTEGER},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      entry_user_id = #{entryUserId,jdbcType=BIGINT},
      operation_user_id = #{operationUserId,jdbcType=BIGINT},
      operation_time = #{operationTime,jdbcType=TIMESTAMP}
    where dt_id = #{dtId,jdbcType=BIGINT}
  </update>
</mapper>