<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.customer.dao.CustDotTermHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.customer.model.CustDotTermHistory" >
    <id column="dt_id" property="dtId" jdbcType="BIGINT" />
    <result column="dot_num" property="dotNum" jdbcType="VARCHAR" />
    <result column="abno_term_type" property="abnoTermType" jdbcType="VARCHAR" />
    <result column="abno_term_id" property="abnoTermId" jdbcType="VARCHAR" />
    <result column="old_abno_term_id" property="oldAbnoTermId" jdbcType="VARCHAR" />
    <result column="abno_desc" property="abnoDesc" jdbcType="VARCHAR" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="get_type" property="getType" jdbcType="INTEGER" />
    <result column="abno_status" property="abnoStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    dt_id, dot_num, abno_term_type, abno_term_id, old_abno_term_id, abno_desc, record_time, 
    entry_user_id, get_type, abno_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from public.cust_dot_term_history
    where dt_id = #{dtId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from public.cust_dot_term_history
    where dt_id = #{dtId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustDotTermHistory" >
    insert into public.cust_dot_term_history (dt_id, dot_num, abno_term_type, 
      abno_term_id, old_abno_term_id, abno_desc, 
      record_time, entry_user_id, get_type, 
      abno_status)
    values (#{dtId,jdbcType=BIGINT}, #{dotNum,jdbcType=VARCHAR}, #{abnoTermType,jdbcType=VARCHAR}, 
      #{abnoTermId,jdbcType=VARCHAR}, #{oldAbnoTermId,jdbcType=VARCHAR}, #{abnoDesc,jdbcType=VARCHAR}, 
      #{recordTime,jdbcType=TIMESTAMP}, #{entryUserId,jdbcType=BIGINT}, #{getType,jdbcType=INTEGER}, 
      #{abnoStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustDotTermHistory" >
    insert into public.cust_dot_term_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dtId != null" >
        dt_id,
      </if>
      <if test="dotNum != null" >
        dot_num,
      </if>
      <if test="abnoTermType != null" >
        abno_term_type,
      </if>
      <if test="abnoTermId != null" >
        abno_term_id,
      </if>
      <if test="oldAbnoTermId != null" >
        old_abno_term_id,
      </if>
      <if test="abnoDesc != null" >
        abno_desc,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="getType != null" >
        get_type,
      </if>
      <if test="abnoStatus != null" >
        abno_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dtId != null" >
        #{dtId,jdbcType=BIGINT},
      </if>
      <if test="dotNum != null" >
        #{dotNum,jdbcType=VARCHAR},
      </if>
      <if test="abnoTermType != null" >
        #{abnoTermType,jdbcType=VARCHAR},
      </if>
      <if test="abnoTermId != null" >
        #{abnoTermId,jdbcType=VARCHAR},
      </if>
      <if test="oldAbnoTermId != null" >
        #{oldAbnoTermId,jdbcType=VARCHAR},
      </if>
      <if test="abnoDesc != null" >
        #{abnoDesc,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="getType != null" >
        #{getType,jdbcType=INTEGER},
      </if>
      <if test="abnoStatus != null" >
        #{abnoStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustDotTermHistory" >
    update public.cust_dot_term_history
    <set >
      <if test="dotNum != null" >
        dot_num = #{dotNum,jdbcType=VARCHAR},
      </if>
      <if test="abnoTermType != null" >
        abno_term_type = #{abnoTermType,jdbcType=VARCHAR},
      </if>
      <if test="abnoTermId != null" >
        abno_term_id = #{abnoTermId,jdbcType=VARCHAR},
      </if>
      <if test="oldAbnoTermId != null" >
        old_abno_term_id = #{oldAbnoTermId,jdbcType=VARCHAR},
      </if>
      <if test="abnoDesc != null" >
        abno_desc = #{abnoDesc,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        entry_user_id = #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="getType != null" >
        get_type = #{getType,jdbcType=INTEGER},
      </if>
      <if test="abnoStatus != null" >
        abno_status = #{abnoStatus,jdbcType=INTEGER},
      </if>
    </set>
    where dt_id = #{dtId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bec.cloud.baodanxitong.web.customer.model.CustDotTermHistory" >
    update public.cust_dot_term_history
    set dot_num = #{dotNum,jdbcType=VARCHAR},
      abno_term_type = #{abnoTermType,jdbcType=VARCHAR},
      abno_term_id = #{abnoTermId,jdbcType=VARCHAR},
      old_abno_term_id = #{oldAbnoTermId,jdbcType=VARCHAR},
      abno_desc = #{abnoDesc,jdbcType=VARCHAR},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      entry_user_id = #{entryUserId,jdbcType=BIGINT},
      get_type = #{getType,jdbcType=INTEGER},
      abno_status = #{abnoStatus,jdbcType=INTEGER}
    where dt_id = #{dtId,jdbcType=BIGINT}
  </update>
</mapper>