<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.tax.dao.TaxCustChannelMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.tax.model.TaxCustChannel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="tax_reg_no" property="taxRegNo" jdbcType="VARCHAR" />
    <result column="quota" property="quota" jdbcType="NUMERIC" />
    <result column="current_quota" property="currentQuota" jdbcType="NUMERIC" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="operation_id" property="operationId" jdbcType="BIGINT" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, channel_id, status, tax_reg_no, quota, current_quota, del_status, record_time, 
    entry_user_id, operation_id, operation_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.tax_cust_channel
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.tax_cust_channel
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.tax.model.TaxCustChannel" >
    insert into public.tax_cust_channel (id, cust_id, channel_id, 
      status, tax_reg_no, quota, 
      current_quota, del_status, record_time, 
      entry_user_id, operation_id, operation_time
      )
    values (#{id,jdbcType=VARCHAR}, #{custId,jdbcType=BIGINT}, #{channelId,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{taxRegNo,jdbcType=VARCHAR}, #{quota,jdbcType=NUMERIC}, 
      #{currentQuota,jdbcType=NUMERIC}, #{delStatus,jdbcType=INTEGER}, #{recordTime,jdbcType=TIMESTAMP}, 
      #{entryUserId,jdbcType=BIGINT}, #{operationId,jdbcType=BIGINT}, #{operationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.tax.model.TaxCustChannel" >
    insert into public.tax_cust_channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="taxRegNo != null" >
        tax_reg_no,
      </if>
      <if test="quota != null" >
        quota,
      </if>
      <if test="currentQuota != null" >
        current_quota,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="operationId != null" >
        operation_id,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="taxRegNo != null" >
        #{taxRegNo,jdbcType=VARCHAR},
      </if>
      <if test="quota != null" >
        #{quota,jdbcType=NUMERIC},
      </if>
      <if test="currentQuota != null" >
        #{currentQuota,jdbcType=NUMERIC},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationId != null" >
        #{operationId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bec.cloud.baodanxitong.web.tax.model.TaxCustChannel" >
    update public.tax_cust_channel
    <set >
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="taxRegNo != null" >
        tax_reg_no = #{taxRegNo,jdbcType=VARCHAR},
      </if>
      <if test="quota != null" >
        quota = #{quota,jdbcType=NUMERIC},
      </if>
      <if test="currentQuota != null" >
        current_quota = #{currentQuota,jdbcType=NUMERIC},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        entry_user_id = #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationId != null" >
        operation_id = #{operationId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bec.cloud.baodanxitong.web.tax.model.TaxCustChannel" >
    update public.tax_cust_channel
    set cust_id = #{custId,jdbcType=BIGINT},
      channel_id = #{channelId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      tax_reg_no = #{taxRegNo,jdbcType=VARCHAR},
      quota = #{quota,jdbcType=NUMERIC},
      current_quota = #{currentQuota,jdbcType=NUMERIC},
      del_status = #{delStatus,jdbcType=INTEGER},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      entry_user_id = #{entryUserId,jdbcType=BIGINT},
      operation_id = #{operationId,jdbcType=BIGINT},
      operation_time = #{operationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>