<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.tax.dao.TaxInvoiceUserMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.tax.model.TaxInvoiceUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="pay_type" property="payType" jdbcType="CHAR" />
    <result column="post_pay_type" property="postPayType" jdbcType="CHAR" />
    <result column="threshold" property="threshold" jdbcType="INTEGER" />
    <result column="expiration_day" property="expirationDay" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="tax_count" property="taxCount" jdbcType="INTEGER" />
    <result column="pay_state" property="payState" jdbcType="CHAR" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="operation_id" property="operationId" jdbcType="BIGINT" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, pay_type, post_pay_type, threshold, expiration_day, template_id, tax_count, 
    pay_state, del_status, record_time, entry_user_id, operation_id, operation_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from public.tax_invoice_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from public.tax_invoice_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.tax.model.TaxInvoiceUser" >
    insert into public.tax_invoice_user (id, cust_id, pay_type, 
      post_pay_type, threshold, expiration_day, 
      template_id, tax_count, pay_state, 
      del_status, record_time, entry_user_id, 
      operation_id, operation_time)
    values (#{id,jdbcType=VARCHAR}, #{custId,jdbcType=BIGINT}, #{payType,jdbcType=CHAR}, 
      #{postPayType,jdbcType=CHAR}, #{threshold,jdbcType=INTEGER}, #{expirationDay,jdbcType=INTEGER}, 
      #{templateId,jdbcType=VARCHAR}, #{taxCount,jdbcType=INTEGER}, #{payState,jdbcType=CHAR}, 
      #{delStatus,jdbcType=INTEGER}, #{recordTime,jdbcType=TIMESTAMP}, #{entryUserId,jdbcType=BIGINT}, 
      #{operationId,jdbcType=BIGINT}, #{operationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.tax.model.TaxInvoiceUser" >
    insert into public.tax_invoice_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="postPayType != null" >
        post_pay_type,
      </if>
      <if test="threshold != null" >
        threshold,
      </if>
      <if test="expirationDay != null" >
        expiration_day,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="taxCount != null" >
        tax_count,
      </if>
      <if test="payState != null" >
        pay_state,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="operationId != null" >
        operation_id,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=CHAR},
      </if>
      <if test="postPayType != null" >
        #{postPayType,jdbcType=CHAR},
      </if>
      <if test="threshold != null" >
        #{threshold,jdbcType=INTEGER},
      </if>
      <if test="expirationDay != null" >
        #{expirationDay,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="taxCount != null" >
        #{taxCount,jdbcType=INTEGER},
      </if>
      <if test="payState != null" >
        #{payState,jdbcType=CHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationId != null" >
        #{operationId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bec.cloud.baodanxitong.web.tax.model.TaxInvoiceUser" >
    update public.tax_invoice_user
    <set >
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=CHAR},
      </if>
      <if test="postPayType != null" >
        post_pay_type = #{postPayType,jdbcType=CHAR},
      </if>
      <if test="threshold != null" >
        threshold = #{threshold,jdbcType=INTEGER},
      </if>
      <if test="expirationDay != null" >
        expiration_day = #{expirationDay,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="taxCount != null" >
        tax_count = #{taxCount,jdbcType=INTEGER},
      </if>
      <if test="payState != null" >
        pay_state = #{payState,jdbcType=CHAR},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        entry_user_id = #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationId != null" >
        operation_id = #{operationId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bec.cloud.baodanxitong.web.tax.model.TaxInvoiceUser" >
    update public.tax_invoice_user
    set cust_id = #{custId,jdbcType=BIGINT},
      pay_type = #{payType,jdbcType=CHAR},
      post_pay_type = #{postPayType,jdbcType=CHAR},
      threshold = #{threshold,jdbcType=INTEGER},
      expiration_day = #{expirationDay,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=VARCHAR},
      tax_count = #{taxCount,jdbcType=INTEGER},
      pay_state = #{payState,jdbcType=CHAR},
      del_status = #{delStatus,jdbcType=INTEGER},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      entry_user_id = #{entryUserId,jdbcType=BIGINT},
      operation_id = #{operationId,jdbcType=BIGINT},
      operation_time = #{operationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>