<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.channel.dao.ChannelCustMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.channel.model.ChannelCust" >
    <id column="cc_id" property="ccId" jdbcType="BIGINT" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="prod_id" property="prodId" jdbcType="INTEGER" />
    <result column="channel_cust_no" property="channelCustNo" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="operation_user_id" property="operationUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    cc_id, cust_code, channel_id, prod_id, channel_cust_no, audit_status, status, remarks, 
    del_status, record_time, entry_user_id, operation_time, operation_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from public.channel_cust
    where cc_id = #{ccId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from public.channel_cust
    where cc_id = #{ccId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.channel.model.ChannelCust" >
    <selectKey resultType="java.lang.Long" keyProperty="ccId" order="BEFORE" >
      select nextval('channel_cust_cc_id_seq')
    </selectKey>
    insert into public.channel_cust (cc_id, cust_code, channel_id, 
      prod_id, channel_cust_no, audit_status, 
      status, remarks, del_status, 
      record_time, entry_user_id, operation_time, 
      operation_user_id)
    values (#{ccId,jdbcType=BIGINT}, #{custCode,jdbcType=VARCHAR}, #{channelId,jdbcType=INTEGER}, 
      #{prodId,jdbcType=INTEGER}, #{channelCustNo,jdbcType=VARCHAR}, #{auditStatus,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{delStatus,jdbcType=INTEGER}, 
      #{recordTime,jdbcType=TIMESTAMP}, #{entryUserId,jdbcType=BIGINT}, #{operationTime,jdbcType=TIMESTAMP}, 
      #{operationUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.channel.model.ChannelCust" >
    <selectKey resultType="java.lang.Long" keyProperty="ccId" order="BEFORE" >
      select nextval('channel_cust_cc_id_seq')
    </selectKey>
    insert into public.channel_cust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      cc_id,
      <if test="custCode != null" >
        cust_code,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="channelCustNo != null" >
        channel_cust_no,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="operationUserId != null" >
        operation_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{ccId,jdbcType=BIGINT},
      <if test="custCode != null" >
        #{custCode,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="channelCustNo != null" >
        #{channelCustNo,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null" >
        #{operationUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bec.cloud.baodanxitong.web.channel.model.ChannelCust" >
    update public.channel_cust
    <set >
      <if test="custCode != null" >
        cust_code = #{custCode,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=INTEGER},
      </if>
      <if test="channelCustNo != null" >
        channel_cust_no = #{channelCustNo,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        entry_user_id = #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null" >
        operation_user_id = #{operationUserId,jdbcType=BIGINT},
      </if>
    </set>
    where cc_id = #{ccId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bec.cloud.baodanxitong.web.channel.model.ChannelCust" >
    update public.channel_cust
    set cust_code = #{custCode,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=INTEGER},
      prod_id = #{prodId,jdbcType=INTEGER},
      channel_cust_no = #{channelCustNo,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=INTEGER},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      entry_user_id = #{entryUserId,jdbcType=BIGINT},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operation_user_id = #{operationUserId,jdbcType=BIGINT}
    where cc_id = #{ccId,jdbcType=BIGINT}
  </update>
</mapper>