<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bec.cloud.baodanxitong.web.channel.dao.PayRouteMappingMapper" >
  <resultMap id="BaseResultMap" type="com.bec.cloud.baodanxitong.web.channel.model.PayRouteMapping" >
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="channel_id1" property="channelId1" jdbcType="INTEGER" />
    <result column="channel_id2" property="channelId2" jdbcType="INTEGER" />
    <result column="channel_id3" property="channelId3" jdbcType="INTEGER" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="entry_user_id" property="entryUserId" jdbcType="BIGINT" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="operation_user_id" property="operationUserId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.bec.cloud.baodanxitong.web.channel.model.PayRouteMapping" >
    insert into public.pay_route_mapping (cust_code, channel_id1, channel_id2, 
      channel_id3, record_time, entry_user_id, 
      operation_time, operation_user_id)
    values (#{custCode,jdbcType=VARCHAR}, #{channelId1,jdbcType=INTEGER}, #{channelId2,jdbcType=INTEGER}, 
      #{channelId3,jdbcType=INTEGER}, #{recordTime,jdbcType=TIMESTAMP}, #{entryUserId,jdbcType=BIGINT}, 
      #{operationTime,jdbcType=TIMESTAMP}, #{operationUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bec.cloud.baodanxitong.web.channel.model.PayRouteMapping" >
    insert into public.pay_route_mapping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custCode != null" >
        cust_code,
      </if>
      <if test="channelId1 != null" >
        channel_id1,
      </if>
      <if test="channelId2 != null" >
        channel_id2,
      </if>
      <if test="channelId3 != null" >
        channel_id3,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="entryUserId != null" >
        entry_user_id,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="operationUserId != null" >
        operation_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custCode != null" >
        #{custCode,jdbcType=VARCHAR},
      </if>
      <if test="channelId1 != null" >
        #{channelId1,jdbcType=INTEGER},
      </if>
      <if test="channelId2 != null" >
        #{channelId2,jdbcType=INTEGER},
      </if>
      <if test="channelId3 != null" >
        #{channelId3,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryUserId != null" >
        #{entryUserId,jdbcType=BIGINT},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null" >
        #{operationUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>